
.form-table{
    display:flex;
    flex-direction: column;
    margin: 3em 3em 3em 3em;
    border: 1px solid rgba(63, 81, 181, 0.5);
}
 .icons{     
    display:flex;
    justify-content: flex-end;
 }
 .button{
     align-self: flex-end;
     margin-bottom: 2vh;
     background-color: lightblue;
     margin-right: 10vh;
     margin-top: 2vh;
 }
 
.root {
    width: '100%',
}
.container {
    max-height: 440,
}